.about-section {
  background-color: #ffffff;
  color: #333;
  padding: 140px 100px 60px;  /* ⬅️ pushes it down nicely */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;

  border-left: 5px solid  #f6b400;; /* yellow accent line */
  box-shadow: 0 10px 30px rgba(0,0,0,0.1); /* soft 3D look */
  border-radius: 12px;
}



.about-content {
  max-width: 800px;
}

.about-heading {
  font-size: 1.1rem;
  color: #151514;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-subheading {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
}

.about-subheading span {
  color:  #f6b400;;
}

.about-description {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.7;
  margin-bottom: 35px;
}

.about-stats {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.highlight {
  color:  #f6b400;;
  font-weight: 600;
  font-size: 1.1rem;
  border-bottom: 2px solid  #f6b400;;
  padding-bottom: 3px;
}
.cv-btn {
  display: inline-block;
  background-color:  #f6b400;;
  color: white;
  padding: 12px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;
  border: none;            /* remove border */
  outline: none;           /* remove focus outline */
}


.about-wrapper {
  padding-top: 120px;   /* move down until perfect */
}





